* {
    margin: 0;
    padding: 0;
    /*z-index: auto;*/

}

body {
    color: white;
    /*background-position: center top;*/
    background-repeat: no-repeat;
}

body {
    background-image: url("./images/coffee-img.jpeg");
    background-size: cover;
}

.image {
    height: 300px;
    width: 100%;

}

.icon-bar{
    font-size: 50px;
    text-shadow: 3px 3px black;
    text-align: center;


}

/*.div.row.content-row {*/
    /*position: absolute;*/

/*}*/


ul {
    list-style-type: none;

}

.container-fluid {
    height: 50%;
    width: 100%;
}

.content-row {
    height: 100%;
}

.list-row {
    height: calc(12.5% - .7em);

}

